USE [master]
GO
/****** Object:  Database [OpenApiLab]    Script Date: 2021-04-05 오후 4:50:16 ******/
CREATE DATABASE [OpenApiLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenApiLab', FILENAME = N'D:\Data\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OpenApiLab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpenApiLab_log', FILENAME = N'D:\Data\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OpenApiLab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenApiLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenApiLab]
GO
/****** Object:  Table [dbo].[NaverFavoriteMovies]    Script Date: 2021-04-05 오후 4:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NaverFavoriteMovies](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[Link] [varchar](500) NULL,
	[Image] [varchar](500) NULL,
	[SubTitle] [varchar](1000) NULL,
	[PubDate] [varchar](20) NULL,
	[Director] [nvarchar](1000) NULL,
	[Actor] [nvarchar](1000) NULL,
	[UserRating] [varchar](10) NULL,
	[RegDate] [datetime] NULL,
 CONSTRAINT [PK_NaverFavoriteMovies] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
